html{
    min-height: 100%;   
    position: relative;
}

body{
    background-image: radial-gradient(circle at 50% 50%, #ffffff 0, #ffffff 12.5%, #fffafa 25%, #fdf1f2 37.5%, #fae7ea 50%, #f7dde3 62.5%, #f3d4de 75%, #efccdb 87.5%, #eac5d9 100%);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin: 0;
    text-align: center;
    vertical-align: top;
    margin-bottom: 40px;
}

.header{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fae7ea00;
    margin: auto;
    color: rgb(84, 53, 66);
}

.primera_parte {
    text-align: left;
    display: flex;
    vertical-align: middle;
    right: 0px;
    color: rgb(181, 97, 133);
    width: 100%;
}

.imagen1 > #imagen{
    border-style: inset;
    border-color: rgb(181, 97, 133);
    border-width: 10px;
    border-radius: 100%;
    object-fit: cover;
    position: relative;
    left: 50px;
    height: 300px;
    width: 300px;
}

.segunda_parte{
    text-align: right;
    margin: auto;
    right: 0px;
    color: rgb(181, 97, 133);
    width: 100%;
}

.segunda_parte > #imagen{
    border-style: inset;
    border-color: rgb(181, 97, 133);
    border-width: 10px;
    border-radius: 100%;
    object-fit: cover;
    position: relative;
    right: 50px;
    height: 300px;
    width: 300px;
}

footer{
    background-color: #fae7ea00;
    bottom: 0;
    position: absolute;
    width: 100%;
    color: rgb(181, 97, 133);
}
